*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;  
  font-family: Helvetica, "Trebuchet MS", sans-serif;
    font-size: 15px;
    background: #fff url('../../assets/img/bg.png');    
    margin: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


