.container{
    
       width: 100vw;
       height: 100vh;
        background: #F5f5f5;
        display: flex;
        flex-direction: row;
       justify-content: center;
       align-items: center;
      
       
}

.container1{
    background: crimson;
    width: 100vh;
    margin: 10p auto;
}

.borda-redonda{
    border: 1px solid red;
    border-radius: 40px;
    padding: 100px;
    padding-top: 150px;
    box-shadow: 5px 10px #888888;
}

#fonte{
    font-size: 9px;
    border: 1px solid blue;
    position: relative;
    left: -50px;
    bottom: 35px;
   
}